.menu{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}
.img-logo{
  margin-top: 1.2rem;
  width: 7rem;
}

.header-logo{
  width: 40.34rem;
}

.menu-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}

nav ul{
  list-style: none;
  display: flex;
}

nav ul li a{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  padding: 0 1.5rem;
  text-transform: uppercase;
  color: rgb(224, 22, 99);
  border-radius: 0.5rem;
  position: relative;
}

.menu ul li a::after{
  position: absolute;
  content: '';
  background: rgb(224, 22, 99);
  bottom: -0.5rem;
  left: 50%;
  height: 0.2rem;
  width: 0;
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after{
  width: 50%;
  left: 25%;
}

.menu-spacing{
  width: 100%;
  height: 8rem;
}

.intro-content{
  display: grid;
  position: relative;
  top: -5rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1.5fr;
  gap: 5rem;
  min-height: 100vh;
}

.intro-text-content, .intro-img{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-text-content h2{
  text-transform: uppercase;
  font-size: 6rem;
  margin-bottom: 5rem;
  color: white;
}

.intro-text-content p{
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: justify;
}

.intro-img img{
  margin: 0 auto;
  width: 75%;
  height: auto;
}

.torneio-content{
  max-width: 70rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.torneio-content h2{
  text-transform: uppercase;
  font-size: 6rem;
  margin-bottom: 2rem;
  color: rgb(224, 22, 99);
}

.torneio-content p{
  color: rgb(129, 6, 53);
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.adm-content{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 100vh;
  
}

.header-section h2{
  margin-bottom: 2rem;
}

.header-section p{
  margin-bottom: 3rem;
}

.card-section{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  counter-reset: card-counter;
}

article{
  width: 100%;
}

.adm-content article > h3{
  position: relative;
  margin: 2rem 0 2rem 7rem;
  display: flex;
  align-items: center;
}

.adm-content h2,h3,p{
  color: white;
}
.adm-content article > h3::before {
  counter-increment: card-counter;
  content: counter(card-counter);
  position: absolute;
  font-size: 8rem;
  left: -7rem;
  transform: rotate(5deg);
  font-style: italic;
}

.gallery-content{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 100vh;
}

.title-gallery{
  color: rgb(224, 22, 99);
  text-transform: uppercase;
}

.full-height{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
.gallery-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.gallery-section img{
  width: 100%;
  max-width: 36rem;
  max-height: 36rem;
  overflow: hidden;
}

.gallery-img img{
  transition: all 300ms ease-in-out;
}

.gallery-img img:hover{
  transform: translate(-1%, 1%) scale(1.2) rotate(2deg);
}

.contact-content{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1.5fr;
  gap: 5rem;
  min-height: 100vh;
}

.contact-text-content, .contact-img{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.contact-text-content h2{
  text-transform: uppercase;
  font-size: 6rem;
  margin-bottom: 5rem;
  color: white;
}

.contact-text-content p{
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: justify;
}

.contact-img img{
  margin: 0 auto;
  width: 75%;
  height: auto;
}

.contact-form{
  grid-column: span 2;
  color: white;
}

.contact-form .form-field{
  border: none;
}

.form-grid{
  display: flex;
  flex-flow: row wrap;
  gap: 5rem;
}

.contact-form legend{
  margin-bottom: 2rem;
}

.form-group{
  flex: 1 1 32rem;
  text-transform: uppercase;
}

.form-group label{
  display: block;
}

.form-group input,
.form-group textarea{
  padding: 1.5rem;
  background: white;
  width: 100%;
  border: none;
  resize: none;
  font-size: 1.5rem;
}

.form-group button{
  border: 0.5rem solid white;
  background: none;
  color: white;
  padding: 1.5rem 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  width: 100%;
}

.form-group input:focus{
  outline: 0.3rem solid rgb(129, 6, 53);
}

.form-group textarea:focus{
  outline: 0.3rem solid rgb(129, 6, 53);
}

.form-group button:hover{
  background-color: rgb(224, 22, 99);
  border: 0.5rem solid rgb(129, 6, 53);
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.form-group ::placeholder{
  color: rgb(129, 6, 53);
}

.footer{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.footer-content{
  padding: 1.5rem;
}
.footer p,a{
  color: rgb(129, 6, 53);
  text-align: center;
  text-decoration: none;
}

.close-menu{
  display: none;
}
